:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--Grey-900);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    color: white;
    background-color: var(--Grey-800);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}
.Profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}
.Profile img {
    width: 84px;
    border-radius: 50%;
    margin-bottom: 35px;
}
.addres {
    color: var(--Green);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
}
.name {
    font-size: 24px;
    margin-bottom: 10px;
}
.job {
    font-size: 14px;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-content: center;
    gap: 22px;
}
ul li {
    background-color: var(--Grey-700);
    display: inline-block;
    flex: 1;
    padding: 10px 5px;
    text-align: center;
    border-radius: 6px;
    width: 300px;
    transition: ease 0.3s;
}
ul li:hover {
    background-color: var(--Green);
    color: black;
}
